doctype html
html
  head
    title Log in
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .title
      h1 Log in
      p Please enter your username and password
    form(action="login", method="post")
      |Username:
      input( type="text" name="username")
      br
      br
      |Password:
      input( type="password" name="password")
      br
      br
      button( type="submit") Login
      
