doctype html
html
  head
    title Failed
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .title
      h1 Log In Failed
      p Incorrect username or password
    form(action="login", method="get")
      button(type="submit") Try Again
